#CSV SETTINGS
CSV_SEPARATOR=,
CSV_TEXT_COL=Script
#MS API KEYS
MS_API_KEY=
MS_REGION=
#MS SETTINGS
#see https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/language-support
MS_LANGUAGE=de-DE
#see https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/language-support#standard-voices
MS_VOICE=de-DE-Stefan
#set to 1 to enable, 0 to disable
#requires just one option, if support required for regex please submit a CR
MS_PHRASE_LIST_ENABLED=0

#columns to concatenate during conversion
CSV_NAME_COL1="Course"
CSV_NAME_COL2="Lesson"
CSV_NAME_COL3="Activity Number"

#AWS settings
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-east-1
AWS_BUCKET=
AWS_PREFIX=
AWS_CDN_HOTSNAME=
