Activity ID,Course,Lesson,Activity Type,Activity Number,Script,,,
ID-17241.6439625503062,en:German Core 1 Social,en:Jemanden begrüßen und sich vorstellen,HW_Form_P2_IVID63,101,Hallo.,,,
ID-17241.6439625503062,en:German Core 1 Social,en:Jemanden begrüßen und sich vorstellen,HW_Form_P2_IVID63,101,Sehr gut!,,,
ID-17241.6439621682280,en:German Core 1 Social,en:Jemanden begrüßen und sich vorstellen,HW_Form_P2_IVID63,103,Guten Morgen!,,,
